[submodule "deps/msgpack"]
	path = deps/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "deps/jansson"]
	path = deps/jansson
	url = https://github.com/akheron/jansson.git
[submodule "deps/beast"]
	path = deps/beast
	url = https://github.com/boostorg/beast.git
